* {
	margin: 0;
	padding: 0;
}

html {
    min-height: 100%;
    background: rgb(238,174,202);
    background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(211,211,211,1) 100%);
	
	font-family: sans-serif;
	font-size: 10px;
	text-align: center;
}

body {
	overflow-x: hidden;
	width: 100%;
}

h1 {
	color: white;
	text-shadow: 0px 0px 5px black;
	font-weight: 300;
	font-size: 30px;
	margin-bottom: 10px;
}

.ring {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	grid-area: ring-area;
}

.circle {
    border-radius: 50%;
    position: absolute;
}

.profile {
    width: 20rem;
    height: 20rem;
    background-color: grey;
    background-image: url("resources/profile.jpg");
    background-size: cover;
    
    animation: zoomIn;
    animation-duration: 1.5s;
}

.driveone {
    left: -8rem;
    top: -2.5rem;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s
}

.instagram {
    top: -9.5rem;
    left: 6rem;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s
}

.drivetwo {
    right: -8rem;
    top: -2.5rem;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s
}


.facebook {
    left: -8rem;
    bottom: -2.5rem;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s
}

.wattpad {
    bottom: -9.5rem;
    left: 6rem;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s
}

.twitter {
    right: -8rem;
    bottom: -2.5rem;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

.link {
    width: 0px;
    height: 0px;
    
    transition-duration: 0.3s;
}

.link:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.error {
	cursor: not-allowed;
}

.featured {
	margin: 20px auto;
	grid-area: featured-area;
}

@keyframes fadein {
    70% {
        width: 10rem;
        height: 10rem;
    }
    100% {
        width: 8rem;
        height: 8rem;
    }
}

@media only screen and (min-width: 768px) {
	body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		"ring-area featured-area";
	}
	
	.featured {
		width: 450px;
	}
}


@media only screen and (max-width: 768px) {
	html {
		font-size: 8px;
	}
	
	body {
		display: grid;
		grid-template-rows: 350px 1fr;
		grid-template-areas:
		"ring-area"
		"featured-area";
	}
	
}