html {
    height: 100%;
    overflow-y: hidden;
    background: rgb(238,174,202);
    background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(211,211,211,1) 100%); 
}

body {
    margin: 30vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
    position: absolute;
}

.profile {
    width: 20vh;
    height: 20vh;
    background-color: grey;
    background-image: url("resources/profile.jpg");
    background-size: cover;
    margin: 100px;
    
    animation: zoomIn;
    animation-duration: 1.5s;
}

.driveone {
    left: -11vh;
    top: -4vh;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s
}

.instagram {
    top: -12vh;
    left: 4.8vh;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s
}

.drivetwo {
    right: -11vh;
    top: -4vh;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s
}


.facebook {
    left: -11vh;
    bottom: -4vh;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s
}

.wattpad {
    bottom: -12vh;
    left: 4.8vh;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s
}

.twitter {
    right: -11vh;
    bottom: -4vh;
    animation: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

.link {
    width: 0px;
    height: 0px;
    
    opacity: 0;
    transition-duration: 0.3s;
}

.link:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}


@keyframes fadein {
    100% {
        width: 10vh;
        height: 10vh;
        opacity: 1;
    }
}
